services:
  otimizador:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    
    image: otimizador-cuda-mpi
    container_name: otimizador_cuda_mpi_container
    
    volumes:
      - ..:/usr/src/app
    
    stdin_open: true 
    tty: true

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1          
              capabilities: [gpu]

    # --- COMANDO ATUALIZADO PARA MPI + CUDA + OPENMP ---
    command: >
      /bin/bash -c "
      mkdir -p build && 
      rm -f *.o build/otimizador_hibrido && 
      nvcc -c KernelOtimizador.cu -o KernelOtimizador.o && 
      mpic++ -O3 -fopenmp -c *.cpp && 
      mpic++ -O3-fopenmp *.o -o build/otimizador_hibrido -L/usr/local/cuda/lib64 -lcudart && 
      rm -f *.o && 
      mpirun --allow-run-as-root -np 6 ./build/otimizador_hibrido"